body{
	margin: 0px;
	border: 0px;
	padding:0px;
	//text_align: center;
}
#main_div{
	width: 80%;
	height: 80%;
/*	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;*/

	position:absolute;
	left:10%;
	top:10%;
	//text-align: center;
	background-color: skyblue;
}
#img_a{
	color: red;
	font-size: 20px;
	width: 100px;
	height: 100px;
	float: left;
	background-image: url(./head.jpg);
	background-repeat: no-repeat;
}
h1{
	font-size: 50px;
}
